#container {
	background-color: #F3F3F3;
	overflow: hidden;
	height: 100%;

	#creator-header {
		position: fixed;

		.md-toolbar-tools {
			height: 64px;

			.widget-title {
				margin: 45px 5px 0;

				#widget-title-label {
					color: rgba(white, 0.85);
				}
			}
		}
	}

	#content {
		height: 100%;
		margin-top: 64px;
		overflow-y: auto;

		#card-container {
			margin-bottom: 64px;

			.bucket {
				padding: 20px;

				.bucket-name {
					background: blue;
					color: white;
					height: 120px;
					width: 150px;
					font-size: 26px;
					margin: 25px;
					padding: 10px;
				}
			}
		}

		#add-bucket {
			margin: 20px;
		}
	}
}
