#container {
	background-color: #F3F3F3;
	overflow: hidden;
	height: 100%;

	#creator-header {
		position: fixed;

		.md-toolbar-tools {
			height: 64px;

			.widget-title {
				margin: 45px 5px 0;

				#widget-title-label {
					color: rgba(white, 0.85);
				}
			}
		}
	}

	#content {
		height: calc(100% - 64px);
		margin-top: 64px;
		overflow-y: auto;

		#card-container {
			margin: 0 auto 64px;
			width: 700px;

			.folder {
				margin-bottom: 25px;

				.folder-header {
					border-top-left-radius: 2px;
					border-top-right-radius: 2px;
				}

				.folder-items {
					padding: 20px;

					form {
						margin: auto;

						.folder-input-container {
							width: 300px;
						}

						button.md-button.option-controls {
							min-width: 30px;
							margin-top: -15px;
							opacity: 0.5;
							padding: 0;

							i {
								line-height: 45px;
							}
						}
					}
				}
			}
		}

		#add-folder {
			margin-bottom: 25px;
			padding: 0 30px;
		}
	}
}

#edit-folder-delete {
	color: white;
	background-color: #FF3333;
}
