body {
	margin: 0;
}

#menu-bar {
	top: 0;
	height: 36px;
	left: 0;
	right: 0;
	background-color: green;
	display: flex;
	justify-content: space-between;

	h1 {
		margin: 0 12px;
		font-size: 28px;
	}
}

#desktop {
	position: fixed;
	top: 36px;
	bottom: 125px;
	left: 0;
	right: 0;
	background-color: red;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#dock {
	position: fixed;
	height: 125px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: blue;
	display: flex;
	justify-content: space-around;

	.folder {
		background-color: orange;
		height: 100%;
		width: 150px;

		// folder-icon is the back panel
		.folder-icon {
			background-color: darken(beige, 15%);
			height: 80%;
			width: 130px;
			margin: 10px auto;
			border-radius: 3px;
			position: relative;
			perspective: 300px; // for 3D

			// :before is the top tab
			&:before {
				content: " ";
				background-color: darken(beige, 15%);
				position: absolute;
				height: 10px;
				width: 60px;
				top: -10px;
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;
			}
			// :after is the front panel
			&:after {
				content: " ";
				background-color: rgba(beige, 0.7);
				position: absolute;
				height: 100%;
				width: 130px;
				top: 0;
				border-radius: 3px;
				transition: all 300ms ease;
			}
			&:hover:after {
				transform: rotateX(-40deg) translate3d(0, -9px, 30px);
			}

			.folder-name {
				word-wrap: break-word;
			}
		}

	}
}
