<!DOCTYPE html>
<!-- INJECTS IE CLASSES ONTO HTML TAG -->
<!--[if IE 8 ]>    <html class="IE8"> <![endif]-->
<!--[if IE 9 ]>    <html class="IE9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
	<head>
		<title>Sort-it-Out! Player</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="player.css">

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="materia.enginecore.js"></script>

		<!-- WIDGET DEPENDENCIES -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-animate.min.js"></script>
		<script src="hammer.min.js"></script>
		<script src="angular-hammer.js"></script>

		<!-- MAIN WIDGET SCRIPT -->
		<script src="player.js"></script>
	</head>
	<body ng-app="SortItOutEngine" ng-controller="SortItOutEngineCtrl" ng-cloak>
		<div id="content"
			ng-mousemove="mouseMove($event)"
			hm-panmove="standardizeEvent($event, false, mouseMove)"
			hm-panend="standardizeEvent($event, false, mouseUp)"
			ng-mouseup="mouseUp($event)">
			<div id="menu-bar">
				<h1 id="title">{{title}}</h1>
				<div id="donearrow" ng-show="readyToSubmit()">Click to finish</div>
				<button ng-click="submitClick()" ng-disabled="!readyToSubmit()">
					Submit Answers
				</button>
			</div>

			<div id="desktop">
				<div
					class="desktop-item" ng-class="{selected: item.text == selectedText}"
					ng-style="{ 'top': item.position.y, 'left': item.position.x }"
					ng-repeat="item in desktopItems"
					ng-mousedown="itemMouseDown($event, item.text)"
					hm-panstart="standardizeEvent($event, item.text, itemMouseDown)">
					{{item.text}}
				</div>
			</div>

			<div id="dock" ng-click="hideFolderPreview()">
				<div class="folder"
					ng-repeat="folder in folders"
					ng-click="selectFolder($event, $index)"
					ng-mouseenter="peekFolder($index)"
					ng-mouseleave="hidePeek()"
					data-index="{{$index}}">
					<div class="folder-icon">
						<div class="folder-name"><span>{{folder.text}}</span></div>
						<div class="peek-items">
							<div ng-if="folder.items.length > 0">{{folder.items[folder.items.length - 1]}}</div>
						</div>
					</div>
					<div class="folder-arrow" ng-show="folderPreviewIndex == $index">
					</div>
				</div>
			</div>

			<div id="folder-preview" ng-class="{hidden: !showFolderPreview}">
				<h1>{{folders[folderPreviewIndex].text}}</h1>
				<p id="empty-preview" ng-if="folders[folderPreviewIndex].items.length == 0">This folder is empty</p>
				<div id="preview-scroll-container" scroll>
					<div
						class="preview-item" ng-class="{selected: item == selectedText}"
						ng-repeat="item in folders[folderPreviewIndex].items"
						ng-mousedown="previewMouseDown($event, item)"
						hm-panstart="standardizeEvent($event, item, previewMouseDown)">
						{{item}}
					</div>
				</div>
				<button id="preview-scroll-up" ng-if="showFolderPreview" ng-show="canScrollUp()" ng-click="scrollUp()">&uarr;</button>
				<button id="preview-scroll-down" ng-if="showFolderPreview" ng-show="canScrollDown()" ng-click="scrollDown()">&darr;</button>
				<div id="preview-selected-item" ng-show="showFolderPreview && selectedText">
					{{selectedText}}
				</div>
			</div>

			<div id="preview-background" ng-class="{hidden: !showFolderPreview}" ng-click="hideFolderPreview()">
			</div>

			<div id="back-to-desktop" ng-show="showFolderPreview && selectedText">
				Put Back on Desktop
			</div>

		</div>
	</body>
</html>
