<!DOCTYPE html>
<!-- INJECTS IE CLASSES ONTO HTML TAG -->
<!--[if IE 8 ]>    <html class="IE8"> <![endif]-->
<!--[if IE 9 ]>    <html class="IE9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
	<head>
		<title>Hello Widget</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="player.css">

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="materia.enginecore.js"></script>

		<!-- WIDGET DEPENDENCIES -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
		<script src="jquery.ui.touch-punch.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-animate.min.js"></script>

		<!-- MAIN WIDGET SCRIPT -->
		<script src="player.js"></script>
	</head>
	<body ng-app="SortItOutEngine" ng-controller="SortItOutEngineCtrl" ng-cloak>
		<div id="content">
			<div id="menu-bar">
				<h1 id="title">{{ instance.name }}</h1>
				<button ng-click="logEverything()">Submit</button>
			</div>

			<div id="desktop">
				<div class="desktop-item" ng-repeat="item in desktopItems" ng-click="selectItem($event, item)">
					{{item}}
				</div>
			</div>

			<div id="preview-background" ng-show="showFolderPreview" ng-click="showFolderPreview = false">
			</div>

			<div id="dock" ng-click="showFolderPreview = false">
				<div class="folder" ng-repeat="folder in folders" ng-click="selectFolder($event, $index)">
					<div class="folder-icon">
						<div class="folder-name"><span>{{folder.text}}<span></div>
						<div class="peek-items">
							<div ng-if="folder.items.length > 0">{{folder.items[0]}}</div>
						</div>
					</div>
					<span class="folder-status">empty</span>
				</div>
			</div>

			<div id="folder-preview" ng-show="showFolderPreview">
				<h1>{{folders[folderPreviewIndex].text}}</h1>
				<div class="preview-item" ng-repeat="item in folders[folderPreviewIndex].items">
					{{item}}
				</div>
			</div>

		</div>
	</body>
</html>

