<!DOCTYPE html>
<!-- INJECTS IE CLASSES ONTO HTML TAG -->
<!--[if IE 8 ]>    <html class="IE8"> <![endif]-->
<!--[if IE 9 ]>    <html class="IE9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
	<head>
		<title>Sort-it-Out! Scorescreen</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="scoreScreen.css">

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="materia.scorecore.js"></script>

		<!-- WIDGET DEPENDENCIES -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-animate.min.js"></script>

		<!-- MAIN WIDGET SCRIPT -->
		<script src="scorescreen.js"></script>
	</head>
	<body ng-app="SortItOutScore" ng-controller="SortItOutScoreCtrl" ng-cloak>
		<div class="folder" ng-repeat="folder in folders" ng-click="minimizeImage()">
			<div class="folder-header">
				<h1>{{folder.name}}</h1>
				<span class="points-off" ng-if="folder.pointsOff">
					{{folder.pointsOff | number:0}}%
				</span>
				<span class="all-correct" ng-if="!folder.pointsOff">
					&#x2714;
				</span>
			</div>
			<div class="folder-content">
				<div class="header">
					<div>
						Correct Items ({{folder.items.length}})
					</div>
					<div>
						Items You Placed ({{folder.placeCount}})
					</div>
				</div>
				<div class="folder-row" ng-repeat="item in folder.items" ng-class="{correct: item.correct, missed: !item.correct}">
					<div class="item">
						<span>{{item.text}}</span>
						<div ng-if="item.image">
							<img class="item-image left" ng-src="{{item.image}}">
						</div>
					</div>
					<div class="item" ng-if="item.correct">
						<span>&#9989; {{item.text}}</span>
						<div ng-if="item.image">
							<img class="item-image" ng-src="{{item.image}}">
						</div>
					</div>
					<div class="info" ng-if="!item.correct">
						&#10060; You placed in: {{item.userFolderName}}
					</div>
				</div>

				<div class="extra-items-separator" ng-if="folder.extraItems.length">
					Extra Items You Placed in this Folder
				</div>

				<div class="folder-row missed" ng-repeat="item in folder.extraItems">
					<div class="info">
						Belongs in: {{item.correctFolderName}}
					</div>
					<div class="item">
						<span>&#10060; {{item.text}}</span>
						<div ng-if="item.image">
							<img class="item-image" ng-src="{{item.image}}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
