.folder {
	background: white;
	margin: 25px 10px;
	border-radius: 5px;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);

	.folder-header {
		padding: 5px;
		position: relative;
		background-color: #fffce4;
		border-radius: 5px;

		h1 {
			margin: 0 175px 0 20px;
		}

		.points-off,
		.all-correct {
			position: absolute;
			top: 10px;
			right: 15px;
			font-size: 20px;
		}

		.points-off {
			color: #C00;
		}

		.all-correct {
			color: #0C0;
		}
	}

	.folder-content {
		padding: 15px 20px 25px;

		.empty-text {
			margin: 15px 0 10px;
			text-align: center;
			font-style: italic;
		}

		.item {
			padding: 15px;
			margin: 10px;
			background: #efc4c9;
			font-size: 20px;
			border-radius: 5px;
			box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
			max-height: 275px;
			transition: all ease-in 0.5s;

			&.correct {
				background: #d7e3d6;
			}

			&.missed {
				background: white;
			}

			&.ng-hide {
				max-height: 0;
				overflow: hidden;
				opacity: 0;
			}

			span {
				max-width: 50%;
			}

			.correct-folder {
				float: right;
				font-style: italic;
				font-size: 16px;
				line-height: 24px;
			}

			.item-image {
				text-align: center;

				img {
					height: 150px;
					box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
					transition: all ease 0.3s;

					&:hover {
						transform: scale(2);
						box-shadow: 0 3px 20px 5px rgba(0, 0, 0, 0.5);
					}
				}
			}
		}
	}
}

#topOptions {
	font-size: 16px;
	background: white;
	padding: 10px;
	text-align: center;
	margin: auto;
	border-radius: 3px;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
	width: 50%;

	input[type='checkbox'] {
		display: none;
	}

	#toggle-switch {
		display: inline-block;
		width: 45px;
		border-radius: 3px;
		height: 16px;
		padding: 4px 0;
		background: #838e9a;
		position: relative;
		top: 3px;
		margin: 0 5px 3px;

		span {
			display: inline-block;
			background: white;
			height: 16px;
			width: 16px;
			border-radius: 3px;
			margin-left: 0px;
			margin-right: 22px;
			transition: all ease 0.3s;
		}
	}

	#show-correct:checked ~ #toggle-switch span {
		margin-left: 22px;
		margin-right: 0px;
	}

	#show-correct ~ label:nth-of-type(1) {
		color: black;
		text-decoration: underline;
	}

	#show-correct:checked ~ label:nth-of-type(1) {
		color: #777;
		text-decoration: none;
	}

	#show-correct ~ label:nth-of-type(3) {
		color: #777;
		text-decoration: none;
	}

	#show-correct:checked ~ label:nth-of-type(3) {
		color: black;
		text-decoration: underline;
	}
}
