.folder {
	background: white;
	margin: 25px 10px;
	border-radius: 5px;
	box-shadow: 0 3px 7px rgba(black, 0.5);

	.folder-header {
		padding: 5px;
		position: relative;
		background-color: #FFFCE4;
		border-radius: 5px;

		h1 {
			margin: 0 75px 0 20px;
		}

		.points-off,
		.all-correct {
			position: absolute;
			top: 10px;
			right: 15px;
			font-size: 20px;
		}

		.points-off {
			color: #C00;
		}

		.all-correct {
			color: #0C0;
		}
	}

	.folder-content {
		padding: 15px 20px 25px;
		text-align: center;

		.header {
			font-size: 22px;
			display: flex;
			flex: 1 0 auto;
			margin: 10px;

			div {
				width: 50%;
			}
		}

		.folder-row {
			display: flex;
			flex: 1 0 auto;
			margin: 10px;
			box-shadow: 0 3px 7px rgba(black, 0.5);
			border-radius: 3px;

			& > div {
				width: 50%;
			}


			&.correct {
				background: #D7E3D6;
			}

			&.missed {
				background: #EFC4C9;
			}

			.info {
				padding: 15px;
				margin: 10px;
			}

			.item {
				padding: 15px;
				margin: 10px;
				font-size: 20px;
				border-radius: 5px;
				background-color: white;
				box-shadow: 0 3px 7px rgba(black, 0.5);
				max-height: 275px;
				transition: all ease-in 0.5s;

				&.ng-hide {
					max-height: 0;
					overflow: hidden;
					opacity: 0;
				}

				.correct-folder {
					float: right;
					font-style: italic;
					font-size: 16px;
					line-height: 24px;
				}

				.item-image {
					height: 150px;
					box-shadow: 0 3px 7px rgba(black, 0.5);
					transition: all ease 0.3s;

					&:hover {
						transform: scale(2) translate(-20%);
						box-shadow: 0 3px 20px 5px rgba(black, 0.5);
					}

					&.left:hover {
						transform: scale(2) translate(20%);
					}
				}
			}
		}

		.extra-items-separator {
			font-size: 22px;
			padding-top: 15px;
		}
	}
}
